@import url("https://fonts.googleapis.com/css2?family=Aleo&family=Arimo&family=Julius+Sans+One&family=Koulen&family=Oxygen&family=Questrial&family=Quicksand:wght@300&family=Staatliches&display=swap");
@import url("https://fonts.googleapis.com/css2?family=K2D:wght@700&display=swap");

.upperdiv {
  background-color: #006767;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 35px;
}

.Edu {
  text-align: center;
  font-family: "K2D", sans-serif;
  font-size: 60px;
  color: #fff;
  border-color: black;
}

.documentation {
  font-family: "K2D", sans-serif;
  position: absolute fixed;
  background-color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;

}

.docchild {
  display: inline-block;
  text-align: left;
  margin: auto;
}

.footer {
  padding: 1rem;
  color: rgb(11, 11, 11);
  position: absolute fixed;
  bottom: 0;
  width: 100%;
  font-family: "K2D", sans-serif;
  text-align: center;
  background-color: #006767;
  font-size: 18px;
  margin-top: 75px;
}

.facebook {
  background-image: url("https://cdn-icons-png.flaticon.com/512/739/739237.png");
  height: 20px;
  width: 20px;
  margin-top: 25px;
  background-size: 100%;
  border: none;
  margin-right: 1em;
  background-color: #006767;
}

.facebook:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.instagram {
  background-image: url("https://cdn-icons-png.flaticon.com/512/1077/1077042.png");
  height: 20px;
  width: 20px;
  margin-top: 25px;
  background-size: 100%;
  border: none;
  margin-right: 1em;
  background-color: #006767;
}

.instagram:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.twitter {
  background-image: url("https://cdn-icons-png.flaticon.com/512/733/733635.png");
  height: 20px;
  width: 20px;
  margin-top: 25px;
  background-size: 100%;
  border: none;
  margin-right: 1em;
  background-color: #006767;
}

.twitter:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.pinterest {
  background-image: url("https://cdn-icons-png.flaticon.com/512/2175/2175205.png");
  height: 20px;
  width: 20px;
  margin-top: 25px;
  background-size: 100%;
  border: none;
  margin-right: 1em;
  background-color: #006767;
}

.pinterest:hover {
  cursor: pointer;
  transform: scale(1.5);
}

.footerTag {
  margin-top: 1em;
}

.jsondata {
  font-family: Arimo;
  font-size: small;
}

.documentheader {
  font-size: 40px;
}

.aboutheader {
  font-size: 40px;
}

.about {
  position: absolute fixed;
  font-family: "K2D", sans-serif;
  font-size: small;
  background-color: #fff;
  text-align: center;
  
}

.aboutpara {
  font-family: "K2D", sans-serif;
  background-color: #fff;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  position:relative;
  width:1000px;
  padding:10px;
  margin: auto;
  line-height: 1.5em;

}

.datadisplay {
  position: relative;
  font-family: "K2D", sans-serif;
  background-color: #fff;
  text-align: center;
  border-style: solid;
  border-color: black;
  align-items: center;
  height: 700px;
  border-radius: 8px;
  width:1000px;
  padding:10px;
  margin: auto;
}

.Main {
  font-family: "K2D", sans-serif;
  background-color: #fff;
  text-align: center;
  align-items: center;
  margin: auto;
}

.intro {
  font-family: "K2D", sans-serif;
  background-color: #fff;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  position:relative;
  width:1000px;
  padding:10px;
  margin: auto;
  line-height: 1.5em;
}

.mainbuttons {
  margin: auto;
  align-items: center;
}

.mainbutton {
  background-color: #fff;
  border-radius: 5px;
  margin: 7px;
  width: 120px;
  height: 70px;
  text-align: center;
  font-family: "K2D", sans-serif;
  vertical-align: top;
}

.mainbutton:hover {
  cursor: pointer;
  transform: scale(1.15);
  border-radius: 5px;
}

.selectabranch {
  font-family: "K2D", sans-serif;
  margin: auto;
}

.buttonBack {
  background-color: #fff;
  border-radius: 5px;
  margin: 5px;
  width: 85px;
  height: 35px;
  text-align: center;
  font-family: "K2D", sans-serif;
  margin: 5px;
  font-size: 14px;
  margin-top: 100px;
}

.buttonBack:hover {
  cursor: pointer;
  transform: scale(1.25);
  border-radius: 5px;
}